
{
    "extends": ["stylelint-config-standard"],
    "plugins": ["stylelint-scss", "stylelint-csstree-validator"],
    "rules": {
      "at-rule-no-unknown": null,
      "scss/at-rule-no-unknown": [
        true,
        {
          "ignoreAtRules": [
            "tailwind",
            "apply",
            "variants",
            "responsive",
            "screen"
          ]
        }
      ]
    },
    "csstree/validator": true,
    "ignoreFiles": ["build/**", "dist/**", "**/reset*.css", "**/bootstrap*.css"],
"selector-no-attribute": [true, {
      "ignore": ["class", "id", "/&gt;/"],
   "declaration-empty-line-before": "always",
   "selector-class-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
   "function-url-quotes": "always",
   "font-family-no-missing-generic-family-keyword": true, "comment-no-empty": null
   }]
 , "declaration-block-no-duplicate-properties": [true, 
 { "ignore": ["custom-property", "inherit", "initial"] }]
    
}